body,html {
    margin: 0;
    font-family: Lexend,sans-serif,system-ui;
    font-weight: 300;
    font-size: 1rem;

    scroll-behavior: smooth;
    scrollbar-color: var(--bgLight) var(--bgDark);

    --bgDark: #212A31;
    --bgLight: #748D92;
    --blueAccent: #124E66;
    --lightAccent: #D3D9D4;
    --darkAccent: #2E3944;
    
    background-color: var(--bgDark);
    color: var(--lightAccent);

}


/* navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bgDark);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    color: var(--bgLight);
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-item a:hover {
    text-decoration: underline;
  }



/* home styles */
.home {
    display: flex;
    flex-direction: column;
    background-color: var(--bgDark);
    margin-top: 20px;
}
.homeMain {
    display: flex;
    flex-direction: row;
}
.homePictureContainer {
    display: flex;
    size: 30px;
    margin: 3%;
    width: 20%;
    height: 20%;
}
.homePicture {
    width: 100%;
    height: 100%;
}
.homeDescription {
    background-color: var(--bgLight);
    margin: 3%;

}


/* about me styles */
.aboutMe {
    background: var(--bgLight);
}
.aboutMeTop {
    margin: 50px 0;
    padding: 30px 5% 30px;
}
.aboutMeBottom {
    display: flex;
    flex-wrap: wrap;
}
.aboutMeList {
    
}


/* project styles */
.projects {
    background-color: var(--bgDark);
}
.prjEach {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    border-radius: 5px;
    border: solid;
    background-color: var(--bgLight);
}
.prjDescription{
    flex-direction: column;
    text-align: left;
    margin: 2%;
    width: 60%;
    padding: 10px;

    border-radius: 5px;
    border: solid;
    background-color: var(--bgDark);
}
.prjAllTools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--bgDark);
}
.prjTool {
    margin: 3px;
    padding: 5px;
    background-color: black;
    text-align: center;
    color: white;

    border-radius: 5px;
    border: solid;
}
.prjVideo {
    margin: 2%;
    width: 25%;

    border-radius: 5px;
    border: solid;
    background-color: black;
}


/* experience styles */
.experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bgLight);
    
}
.expEach {
    display: flex;
}
.expImageContainer {
    background-color: var(--bgLight);
    margin: 1%;
    margin-left: 8%;
    width: 100px;
    height: 100px;
}
.expImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}
.expText {
    background-color: var(--bgDark);
    margin: 1%;
    margin-right: 8%;
    width: 70%;

}
.expCourses { /* relevant coursework here - list */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.expCoursesBox {
    background-color: var(--bgLight);
    border: 3px solid black;
    margin: 3%;
}


/* contact styles */
.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    margin-right: 25%;
    background-color: var(--bgDark);
    color: var(--lightAccent);
}
.contactButton {
    width: 70px;
    height: 30px;
    background-color: var(--lightAccent);
    color: var(--bgLight);
}


/* other styles */
footer {
    text-align: right;
    background-color: slategray;
    color: white;
}

.logos {
    display: flex;
    justify-content: space-between;
    gap: 50%;
    width: 50px;
    height: 50px;

    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.divider {
    width: 60%;
}




@media (max-width: 600px) {
    .expImageContainer{
        margin-left: 1%;
    }
    .expText{
        margin-right: 1%;
    }
    .homeMain {
        flex-direction: column;
    }
    .aboutMeBottom {
        -moz-column-gap:100px;
        column-gap: 100px
    }
    .project {
        margin: 10px;
    }
}
