body,html {
    margin: 0;
    font-family: Lexend,sans-serif,system-ui;
    font-weight: 300;
    font-size: 1rem;

    scroll-behavior: smooth;

    --mygrey: #3e3c42;
    --mywhite: white;
    --mypurple: #5e60b0;
    --redish: #FF3A26;
    color: #bbbbbb;

    --accent: #c6cbf4;
    /*color: var(--accent);*/
    background-color: var(--mygrey);
}


/* navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-item a:hover {
    text-decoration: underline;
  }



/* home styles */
.home {
    display: flex;
    flex-direction: column;
    background-color: var(--greyblueish);
}
.homeMain {
    display: flex;
    flex-direction: row;
}
.homePictureContainer {
    display: flex;
    size: 30px;
    border: 3px solid black;
    margin: 3%;
    width: 20%;
    height: 20%;
}
.homePicture {
    width: 100%;
    height: 100%;
}
.homeDescription {
    background-color: wheat;
    margin: 3%;
    border: 3px solid black;

}


/* about me styles */
.aboutMe {
    background: var(--mypurple);
}
.aboutMeTop {
    margin: 50px 0;
    padding: 30px 5% 30px;
}
.aboutMeBottom {
    display: flex;
    flex-wrap: wrap;
}
.aboutMeList {
    background-color: wheat;
}


/* project styles */
.projects {
    background-color: var(--mygrey);
}
.prjEach {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    border-radius: 5px;
    border: solid;
    background-color: var(--mypurple);
}
.prjDescription{
    flex-direction: column;
    text-align: left;
    margin: 2%;
    width: 60%;
    padding: 10px;

    border-radius: 5px;
    border: solid;
    background-color: var(--mygrey);
}
.prjAllTools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--mygrey);
}
.prjTool {
    margin: 3px;
    padding: 5px;
    background-color: black;
    text-align: center;
    color: white;

    border-radius: 5px;
    border: solid;
}
.prjVideo {
    margin: 2%;
    width: 25%;

    border-radius: 5px;
    border: solid;
    background-color: var(--mygrey);
}


/* experience styles */
.experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--mypurple);
}
.expEach {
    display: flex;
}
.expImageContainer {
    background-color: white;
    border: 3px solid black;
    margin: 3%;
    width: 100px;
    height: 100px;

    
}
.expImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expText {
    color: black;
    background-color: wheat;
    border: 3px solid black;
    margin: 3%;
}
.expCourses { /* relevant coursework here - list */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.expCoursesBox {
    background-color: wheat;
    border: 3px solid black;
    margin: 3%;
}


/* contact styles */
.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    
}


/* other styles */
footer {
    text-align: right;
    background-color: slategray;
    color: white;
}

.logos {
    display: flex;
    justify-content: space-between;
    gap: 50%;
    width: 50px;
    height: 50px;

    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.divider {
    width: 60%;
}




@media (max-width: 600px) {
    .homeMain {
        flex-direction: column;
    }
    .aboutMeBottom {
        -moz-column-gap:100px;
        column-gap: 100px
    }
    .project {
        margin: 10px;
    }
}
